html, body, #newlogmodal {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

header form {
  margin: 0 0 50px;
}

footer {
  margin: 200px auto;
}

select {
  visibility: hidden;
  color: #444444;
}

button, #upload {
  font-weight: bold;
  font-size: 24px;
  background: none;
  border: none;
  outline: none;
  color: #00aeef;
}

h1 {
  font-size: 40px;
  text-align: center;
  letter-spacing: -1px;
}

h1 span {
  color: #0f75bc;
}

ul {
  list-style: none;
  padding: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #00aeef;
  margin: 130px auto -130px;
  padding: 0;
}

.selfie {
  border: 10px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #00aeef;
  background-color: #ffffff;
  overflow: hidden;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.mcselfie {
  position: relative;
  vertical-align: middle;
  top: 20%;
  z-index: 3;
}

.camera {
  position: absolute !important;
  top: 0px !important;
  left: -40px !important;
}

img.camera {
  width: 320px;
  height: 240px;
}

li:nth-child(odd) .selfie {
  margin-right: -160px;
}

li:nth-child(even) .selfie {
  margin-left: -160px;
}

#timeloglist .selfie {
  margin-bottom: -60px;
}

#timeloglist .time {
  font-weight: bold;
  position: relative;
  margin: 140px auto -140px;
  background-color: #ffffff;
  width: 80px;
  z-index: 1;
}

#timelogs {
  max-width: 400px;
  margin: 0 auto;
  color: #00aeef;
}

#newlogmodal {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 4;
  top: 0;
  left: 0;
  display: none;
}

#preview {
  visibility: hidden;
  z-index: 5;
}

#snapit, #logit, #cancel, #upload {
  display: inline-block;
  position: relative;
}

#logit {
  display: none;
}

#upload {
  color: #969798;
}

#endlog {
  background-color: #ffffff;
  font-weight: bold;
  margin: 115px auto 0;
  width: 120px;
}

@media (max-width: 760px) {
  #timeloglist .time {
    margin-top: 40px;
    margin-bottom: -10px;
    z-index: 3;
  }

  li .selfie {
    margin: 0 auto !important;
  }

  li hr {
    display: none;
  }
}

