html, body, #newlogmodal {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

header form {
  margin: 0 0 50px;
}

footer {
  margin: 200px auto;
}

select {
  visibility: hidden;
  color: #444444;
}

button, #upload {
  font-weight: bold;
  font-size: 24px;
  background: none;
  border: none;
  outline: none;
  color: #00aeef;
}

h1 {
  font-size: 40px;
  text-align: center;
  letter-spacing: -1px;
  margin: -20px 0 10px;
}

h1 span {
  color: #0f75bc;
}

ul {
  list-style: none;
  padding: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #00aeef;
  margin: 130px auto -130px;
  padding: 0;
}

.banner {
  width: 150px;
}

.selfie {
  border: 10px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #00aeef;
  background-color: #ffffff;
  overflow: hidden;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.mcselfie {
  position: relative;
  vertical-align: middle;
  top: 20%;
  z-index: 3;
}

.camera {
  position: absolute !important;
  top: 0px !important;
  left: -40px !important;
}

img.camera {
  width: 320px;
  height: 240px;
}

li:nth-child(odd) .selfie {
  margin-right: -160px;
}

li:nth-child(even) .selfie {
  margin-left: -160px;
}

#timeloglist .selfie {
  margin-bottom: -60px;
}

#timeloglist .time {
  font-weight: bold;
  position: relative;
  margin: 140px auto -140px;
  background-color: #ffffff;
  width: 80px;
  z-index: 1;
}

#timelogs {
  max-width: 400px;
  margin: 0 auto;
  color: #00aeef;
}

#newlogmodal {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 4;
  top: 0;
  left: 0;
  display: none;
}

video {
  width: 640px;
  height: 480px;
  transform-origin: 0px 0px 0px;
  transform: scaleX(0.5) scaleY(0.5);
}

#preview {
  visibility: hidden;
  z-index: 5;
}

#snapit, #logit, #cancel, #upload {
  display: inline-block;
  position: relative;
}

#logit {
  display: none;
}

#upload {
  color: #969798;
}

#endlog {
  background-color: #ffffff;
  font-weight: bold;
  margin: 115px auto 0;
  width: 120px;
}

#picker {
  outline: none;
  border: none;
  cursor: pointer;
  width: 200px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.datepickr-wrapper {
  display: inline-block;
  position: relative;
}

.datepickr-calendar {
  font-size: 12px;
  background-color: #eee;
  color: #0f75bc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
}

.open .datepickr-calendar {
  display: block;
}

.datepickr-calendar .datepickr-months {
  background-color: #00aeef;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  padding: 2px;
  text-align: center;
  font-size: 120%;
}

.datepickr-calendar .datepickr-prev-month,
.datepickr-calendar .datepickr-next-month {
  color: #fff;
  text-decoration: none;
  padding: 0 .4em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.datepickr-calendar .datepickr-prev-month {
  float: left;
}

.datepickr-calendar .datepickr-next-month {
  float: right;
}

.datepickr-calendar .datepickr-current-month {
  padding: 0 .5em;
}

.datepickr-calendar .datepickr-prev-month:hover,
.datepickr-calendar .datepickr-next-month:hover {
  background-color: #fff;
  color: #0f75bc;
}

.datepickr-calendar table {
  border-collapse: collapse;
  padding: 0;
  width: 100%;
}

.datepickr-calendar thead {
  font-size: 90%;
}

.datepickr-calendar th,
.datepickr-calendar td {
  width: 14.3%;
}

.datepickr-calendar th {
  text-align: center;
  padding: 5px;
}

.datepickr-calendar td {
  text-align: right;
  padding: 1px;
}

.datepickr-calendar .datepickr-day {
  display: block;
  color: #1c94c4;
  background-color: #f6f6f6;
  padding: 5px;
  cursor: pointer;
}

.datepickr-calendar .datepickr-day:hover {
  background-color: #fff;
  color: #0f75bc;
}

.datepickr-calendar .today .datepickr-day {
  background-color: #00aeef;
  color: #fff;
}

.datepickr-calendar .selected .datepickr-day {
  background-color: #1c94c4;
  color: #f6f6f6;
}

.datepickr-calendar .disabled .datepickr-day,
.datepickr-calendar .disabled .datepickr-day:hover {
  background-color: #eee;
  color: #bbb;
  cursor: default;
}

@media (max-width: 760px) {
  #timeloglist .time {
    margin-top: 40px;
    margin-bottom: -10px;
    z-index: 3;
  }

  li .selfie {
    margin: 0 auto !important;
  }

  li hr {
    display: none;
  }
}

